<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load bootstrap3 %}
  {% bootstrap_css %}
  {% load static %}

  <link href="{% static "blog/blog.css" %}" rel="stylesheet">

  <title>Djanblo</title>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <div class="blog-header">
      <h1 class="blog-title">Welcome to the Djanblo!</h1>
      <p class="lead blog-description">The Djanblo blog engine.</p>
    </div>
    <div class="row">
      <div class="col-sm-8 blog-main">

{% bootstrap_messages %}

<section>

{% for post in posts %}
  <article class="post-entry">
      <a href="{% url 'post' post.path %}">
      <head>
        <h2 class="blog-post-title">{{ post.title }}</h2>
      </head>
      <p class="blog-post-meta">{{ post.subject }}</p>
      <p class="blog-post-meta">
        {{ post.author.username }} -
        <span class="post-date">{{ post.pub_date|date:"Y-m-d H:m:s" }}</span>
      </p>
    </a>
  </article>
{% endfor %}
</section>

{% bootstrap_pagination page=posts url="/" size="large" %}

{% bootstrap_javascript %}

      </div>
    </div>
  </div>
</body>
</html>
